.about-section-2 .wpo-mission-content{
   flex: 1;
    border: 2px solid #ebebeb;
    padding: 20px;
    margin-top: 40px;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}
.about-section-2 .wpo-mission-content p{
      /* display: -webkit-box;
    -webkit-line-clamp: 3; 
    -webkit-box-orient: vertical;
    overflow: hidden; */
}
.ourm .container{
    background: url(../../images/world-map.png) no-repeat center center;
}
.ourm .col-lg-3 div{
/* width: 260px; */
height: 120px;
display: flex;
align-items: center;
justify-content: center;
margin: auto;
margin-top: 40px;
}
.ourm .container{
    max-width: 1200px;
}
.ourm .col-lg-3 div{
    border-radius: 8px;
     border: 2px solid #A354E8;
      padding:12px;
}
.ourm .wpo-mission-wrap .row{
    /* gap: 6px; */
}
.ourm .col-lg-3 p{
    margin-bottom: 0;
}
.wpo-mission-area{
    /* margin-top: 4rem; */
}
@media (max-width: 768px) {
    .ourm .col-lg-3 div{
        height: auto;
    }
    
}
