.App {
  /* text-align: center; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:left;
  justify-content:left;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


/* BELOW HERO CONTENT */
.content-section {
  padding: 60px 20px;
  background: #ffffff;
}

.content-section .container {
  max-width: 900px;
  margin: auto;
}

.title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 2rem;
  font-weight: 700;
}

.description {
  font-size: 1.1rem;
  line-height: 1.8;
  margin-bottom: 20px;
  color: #444;
}

.sub-title {
  margin-top: 40px;
  font-size: 1.5rem;
  font-weight: 700;
}

.project-list {
  margin-top: 15px;
  padding-left: 20px;
  line-height: 1.7;
  font-size: 1.05rem;
}

.project-list li {
  margin-bottom: 6px;
}

/* Mobile Responsive */
@media (max-width: 480px) {
  .title {
    font-size: 1.6rem;
  }
  .description {
    font-size: 1rem;
  }
}


.project-list {
  list-style-type: disc !important;
  padding-left: 20px !important;
}

.project-list li {
  list-style-type: disc !important;
}
